.clearer {
  clear: both;
}

.wy-nav-content {
  max-width: none;
}

.wy-side-nav-search>a img.logo {
  width: 60%;
}

.hardware-sidebar {
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.hardware-fritzing {
  width: 30%;
  height: 30%;
}